/* breackpoint x835px */
* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    color: #bbb;
    user-select: none;
}
body{
    background-color: #111;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#note {
    width: 0;
    height: 0;
    .color-1 {color: #663fe8;}
    .color-2 {color: #e83f6d;}
}
.--hidden{
    display: none;
}

/* a-INFO ---------------------------------------------------- */
.--a-info{
    background-color: transparent;
    outline: none;
    border: none;
    box-sizing: content-box;
    display: inline-block;
    margin: 0 -1vw 1vw 0;
    transition: 
        scale .1s,
        opacity .1s
}
.--a-info__img{
    height: 3vw;
    opacity: 30%;
}
.--a-info__img:hover{
    opacity: .5;
    scale: 1.1;
    transition: 
        scale .2s,
        opacity .2s
}
.--a-info__img:active{
    opacity: 1;
    scale: 1.5;
    transition: 
        scale .2s,
        opacity .2s
}



/* NAVBUTTOM ---------------------------------------------------- */
.navbutton{
    position: sticky;
    top: 40vh;
    right: .5vw;
    z-index: 100;
    box-sizing: border-box;
    height: 0;
    width: 0;
    margin-left: 10px;
}
.navbutton__button{
    background-color: #555;
    opacity: 30%;
    border-radius: 50%;
    outline: none;
    border: none;
    box-sizing: border-box;
    width: 5vw;
    padding: 0 .1vw;
    user-select: none;
    margin-bottom: 10px;
    transition: 
        background-color .3s,
        border-radius .3s,
        transform .3s;
}
.navbutton__button:hover{
    background-color: #aaa;
    transform: scale(1.1);
    transition: 
        background-color .3s,
        border-radius .3s,
        transform .3s;
}
.navbutton__button:active{
    background-color: #fff;
    transform: scale(1.3);
}
.navbutton__button__img{
    width: 100%;
    pointer-events: none;
}


/* NAVBAR ---------------------------------------------------- */
.nav{
    width: 100vw; 
    background-color: #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav__ul{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.nav__li{
    display: inline-block;
    margin: .75vw;
    box-sizing: content-box;
    list-style: none
}
.nav__a{
    display: flex;
    box-sizing: border-box;
    color: #eee;
    text-decoration: none;
    background-color: #333;
    padding: 1vw;
    align-items: center; 
    font-size: 1.5vw;
    border-radius: 2.5vw;
    transition: 
        background-color .2s,
        outline .2s,
        box-shadow .2s,
        border-radius .2s,
        transform .2s;

}
.--red:hover{
    color: #f0afaf;
    background-color: #4c4244;
    outline: #e83f6d 1px solid;
    border-radius: .5vw;
    box-shadow: 0 0 20px #e83f6d;
    transition: 
        background-color .2s,
        outline .2s,
        box-shadow .2s,
        border-radius .2s,
        transform .2s;
    transform: scale(1.1);
}
.--blue:hover{
    color: #afbbf0;
    background-color: #42444c;
    outline: #663fe8 1px solid;
    border-radius: .5vw;
    box-shadow: 0 0 20px #663fe8;
    transition: 
        background-color .2s,
        outline .2s,
        box-shadow .2s,
        border-radius .2s,
        transform .2s;
    transform: scale(1.1);
}
.nav__li__img, i{
    height: 1.5vw;
    margin: 0 1vw 0 0;
    pointer-events: none;
}


/* HEADER -------------------------------------------------------- */
.header{
    background-color: #333;
    color: #eee;
}
.header__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__h1, .section__div__h3 {
    color: #eee;
    width: 70vw;
    margin: auto;
    font-size: 6vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
.header__h1::selection{
    color: #111;
    background-color: #eee;
}
.header__p{
    color: #eee;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    width: 50vw;
    margin: 7.5vh auto;
}
.h1__span{
    font-size: 10vw;
    font-weight: 900;
}
.--soft{
    color: #663fe8;
    transition: text-shadow .5s;
}
.--soft::selection{
    color: #eee;
    background-color: #663fe8;
}
.--soft:hover{
    text-shadow: 0 0 25px #663fe8;
    transition: text-shadow .5s;
}
.--forge{
    color: #eee;
    transition: text-shadow .5s;
}
.--forge:hover{
    text-shadow: 0 0 25px #eee;
    transition: text-shadow .5s;
}
.--forge::selection{
    color: #111;
    background-color: #eee;
}
.--studios{
    color: #e83f6d;
    transition: text-shadow .5s;
}
.--studios::selection{
    color: #eee;
    background-color: #e83f6d;
}
.--studios:hover{
    text-shadow: 0 0 25px #e83f6d;
    transition: text-shadow .5s;
}
.--slogan{
    font-size: 3vw;
    font-weight: 400;
}


/* CONTENT ---------------------------------------------------- */
/* SECTIONWWD --LEFT ---------------------------------------------------- */
.section__div__h2{
    color: #eee;
    font-size: 4vw;
    font-style: italic;
    text-transform: uppercase;
    margin: 2vw 2vw 0 2vw;
}
.--sub{
    color: #1a1a1a;
    text-decoration: underline #eee .5vh;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1vw ;
    margin-left: 2vw;
}
.section__div__p{
    color: #eee;
    font-size: 2.5vh;
    margin: 2vw 5vw;
    text-align: center;
}
.--section{
    display: flex;
    width: 100%;
}
.section__div{
    width: 90%;
    height: auto;
    margin: 5vw;
}
.--text{
    background-color: #1a1a1a;
    border-radius: 10%;
}
.section__div__button{
    position: relative;
    right: 0;
    left: 90%;
}


/* SECCTION-LEFT IMG ---------------------------------------------------- */
.--slider{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}
.section__div{
    overflow: hidden;
}
.section__div__img{
    width: 90vw;
    border-radius: 40px;
}


/* SECCTION-RIGHT ---------------------------------------------------- */



/* FOOTER ---------------------------------------------------- */
.footer{
    padding: 7vh 7vw;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__h2{
    text-transform: uppercase;
    font-style: italic;
}
.footer__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__ul__li{
    margin: 1vw;
    list-style: none;
}
.footer__ul__li{
    font-size: 2vw;
}


